In [82]:
## Lien pour le turorial 
## https://medium.com/python-data/assessing-the-riskiness-of-a-portfolio-with-python-6444c727c474

# import python's number crunchers
from pandas_datareader import data as web
import pandas as pd
import numpy as np

assets =  ['AAPL', 'GM', 'GE', 'FB', 'WMT'] 

df = pd.DataFrame()  

for stock in assets:
    df[stock] = web.DataReader(stock, data_source='yahoo',
                               start='2015-1-1' , end='2017-1-1')['Adj Close']

d_returns = df.pct_change()  

cov_matrix_d = d_returns.cov()
cov_matrix_a = cov_matrix_d * 250

weights = np.array([0.2, 0.2, 0.2, 0.2, 0.2])  # assign equal weights

# calculate the variance and risk of the portfolo
port_variance = np.dot(weights.T, np.dot(cov_matrix_a, weights))
port_volatility = np.sqrt(np.dot(weights.T, np.dot(cov_matrix_a, weights)))

percent_var = str(round(port_variance, 4) * 100) + '%'
percent_vols = str(round(port_volatility, 4) * 100) + '%'

print('Variance of Portfolio is {}, Portfolio Risk is {}'
      .format(percent_var, percent_vols))

Variance of Portfolio is 2.5700000000000003%, Portfolio Risk is 16.04%

In [83]:
cov_matrix_a

          AAPL        GM        GE        FB       WMT
AAPL  0.062449  0.022449  0.019094  0.030312  0.012588
GM    0.022449  0.062172  0.024010  0.019870  0.012027
GE    0.019094  0.024010  0.039146  0.019633  0.012638
FB    0.030312  0.019870  0.019633  0.072642  0.010714
WMT   0.012588  0.012027  0.012638  0.010714  0.039801

In [84]:
cov_matrix_d

          AAPL        GM        GE        FB       WMT
AAPL  0.000250  0.000090  0.000076  0.000121  0.000050
GM    0.000090  0.000249  0.000096  0.000079  0.000048
GE    0.000076  0.000096  0.000157  0.000079  0.000051
FB    0.000121  0.000079  0.000079  0.000291  0.000043
WMT   0.000050  0.000048  0.000051  0.000043  0.000159